body {
	width: 100%;
	margin: 0;
	font-family: 'Dosis', Arial, sans-serif;
}
/* custom scrollbad only works in Chrome */
::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
  border-radius: 2px;
}
::-webkit-scrollbar-track
{
  background: rgb(204, 204, 204);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb
{
  background: rgba(12, 0, 47, 0.5);
  border-radius: 2px;
}
.banner {
	height: 300px;
	display: flex;
	justify-self: center;
	justify-content: center;
	align-items: center;
	background: url('../assets/images/keyboard_2000x1262.png');
	background-size: 120%;
	background-position: center;
	background-repeat: no-repeat;
}
	#badge {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 600px;
		height: 75px;
		border-radius: 4px;
		color: #fff;
	}
	.lightOn {
		background: rgba(255, 255, 100, 1);
		box-shadow: 0px 0px 100px 5px rgba(255, 255, 100, 0.75);
	}
	.lightOff {
		background: rgba(255, 255, 255, 0.8);
		box-shadow: none;
	}
.navLinks {
	font-size: 1.8em;
	font-weight: 600;
	color: #000;
	text-decoration: none;
}
#topBtn {
	display: none;
	transition: display ease-in-out 0.2s;
	position: fixed;
	bottom: 40px;
	right: 20px;
	width: 40px;
	height: 40px;
	background: url('../assets/images/up_arrow.jpg');
	background-size: 105%;
	background-position: center;
	border: 1px solid #000;
	border-bottom: 0px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}
footer {
	background: #303336;
}
/* /////////////////////////////////// */
/* ////////// MEDIA QUERIES ////////// */

/* Extra large devices (large desktops, up to 1200px) */
/* ////////// RESULTS ////////// */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (desktops, up to 992px) */ 
@media (min-width: 768px) and (max-width: 991px) {

}

/* Medium devices (tablets, up to 768px) */
@media (max-width: 767px) {
	.nav {
		background: red;
	}
}

/* Small devices (landscape phones, up to 576px) */
@media (max-width: 575px) {

}