body {
	width: 100%;
	margin: 0;
	font-family: 'Dosis', Arial, sans-serif;
}
/* custom scrollbad only works in Chrome */
::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
  border-radius: 2px;
}
::-webkit-scrollbar-track
{
  background: rgb(204, 204, 204);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb
{
  background: rgba(12, 0, 47, 0.5);
  border-radius: 2px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.siteCarousel {
	/* box-shadow: 5px 5px 13px -3px rgba(0,0,0,0.5); */
}
.carouselControlBtn:hover {
	background-color: rgba(0,0,0,0.3);
}
.carouselImage {
	cursor: pointer;
}
.banner {
	height: 300px;
	display: flex;
	justify-self: center;
	justify-content: center;
	align-items: center;
	background: url('../assets/images/keyboard_2000x1262.png');
	background-size: 120%;
	background-position: center;
	background-repeat: no-repeat;
}
	#badge {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 600px;
		height: 75px;
		border-radius: 4px;
		color: #fff;
	}
.navLinks {
	font-size: 1.8em;
	font-weight: 600;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}
.social {
	display: flex;
	height: 59px;
	align-items: center;
}
.socialIcons {
	width: 40px;
	height: 40px;
}
.slyFoxLinks:hover {
	text-decoration: none;
}
.sectionHeading {
	text-transform: uppercase;
}
.about {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0, rgba(0,212,255,0.4) 0%, rgba(255,255,255,0.6) 100%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position-y: bottom;
}
.websites {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,68,0,0.4) 0%, rgba(255,255,255,1) 100%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position-y: bottom;
}
.software {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,255,8,0.4) 0%, rgba(255,255,255,1) 100%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position-y: bottom;
}
.graphics {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(171,0,255,0.4) 0%, rgba(255,255,255,1) 100%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position-y: bottom;
}
.technologies {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,205,0,0.4) 0%, rgba(255,255,255,1) 100%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position-y: bottom;
}
.qualifications {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(6,7,230,0.4) 0%, rgba(255,255,255,1) 100%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position-y: bottom;
}
#topBtn {
	display: none;
	position: fixed;
	bottom: 40px;
	right: 20px;
	width: 40px;
	height: 40px;
	background: url('../assets/images/up_arrow.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}
footer {
	background: #303336;
}
/* /////////////////////////////////// */
/* ////////// MEDIA QUERIES ////////// */

/* Extra large devices (large desktops, up to 1200px) */
/* ////////// RESULTS ////////// */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (desktops, up to 992px) */ 
@media (min-width: 768px) and (max-width: 991px) {

}

/* Medium devices (tablets, up to 768px) */
@media (max-width: 767px) {

}

/* Small devices (landscape phones, up to 576px) */
@media (max-width: 575px) {

}